# sql with python

In [1]:
import mysql.connector

In [2]:
sql = mysql.connector.connect(
    host= "127.0.0.1",
    user = "root",
    password = "mysql"
)

In [3]:
print(sql)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002A31929FE00>

In [4]:
print(sql.is_connected())

True

In [5]:
cur  = sql.cursor()

In [6]:
cur.execute("show databases;")

In [7]:
cur.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('student',),
 ('students',),
 ('sys',),
 ('world',)]

In [8]:
cur.fetchall()

[]

In [9]:
cur.execute("show databases")
cur.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('student',),
 ('students',),
 ('sys',),
 ('world',)]

In [ ]:
cur.execute("create database students")

In [11]:
cur.execute("use students")

In [ ]:
cur.execute("create table class1 (name varchar(20),rollno int(100),phone int(10))" )

In [14]:
cur.execute("INSERT into class1 values('ashwani',10,0123456789)")

In [15]:
cur.execute("select * from class1")

In [16]:
cur.fetchall()

[('ashwani', 10, 1111111),
 ('ashwani', 10, 123456789),
 ('ashwani', 10, 123456789)]

In [17]:
sql.commit()

In [18]:
cur.execute("select * from class1")
for i in cur:
    print(i)

('ashwani', 10, 1111111)
('ashwani', 10, 123456789)
('ashwani', 10, 123456789)

In [19]:
# alternate of use database
cur.execute("select * from students.class1")

In [20]:
cur.fetchall()

[('ashwani', 10, 1111111),
 ('ashwani', 10, 123456789),
 ('ashwani', 10, 123456789)]

In [ ]:
cur.execute("create table students.classbtech (id int, first_name varchar(50), last_name varchar(50), regdate DATe)")

In [22]:
cur.execute("insert into students.classbtech values (56,'shenak','akhtar','2022-12-11')")

In [23]:
sql.commit()

In [24]:
cur.execute("insert into students.classbtech values ,(56,'shenak','akhtar','2022-12-11'),(56,'shenak','akhtar','2022-12-11'),
(56,'shenak','akhtar','2022-12-11'),(56,'shenak','akhtar','2022-12-11')")

SyntaxError: unterminated string literal (detected at line 1) (2130538961.py, line 1)

In [25]:
cur.execute("""insert into students.classbtech values (57,'shenak','akhtar','2022-12-11'),(58,'shenak','akhtar','2022-12-11'),
(59,'shenak','akhtar','2022-12-11'),(60,'shenak','akhtar','2022-12-11')""")

In [26]:
cur.execute("select * from students.classbtech;")

In [27]:
cur.fetchall()

[(56, 'shenak', 'akhtar', datetime.date(2022, 12, 11)),
 (57, 'shenak', 'akhtar', datetime.date(2022, 12, 11)),
 (58, 'shenak', 'akhtar', datetime.date(2022, 12, 11)),
 (59, 'salim', 'akhtar', datetime.date(2022, 12, 11)),
 (60, 'shenak', 'akhtar', datetime.date(2022, 12, 11)),
 (56, 'shenak', 'akhtar', datetime.date(2022, 12, 11)),
 (57, 'shenak', 'akhtar', datetime.date(2022, 12, 11)),
 (58, 'shenak', 'akhtar', datetime.date(2022, 12, 11)),
 (59, 'shenak', 'akhtar', datetime.date(2022, 12, 11)),
 (60, 'shenak', 'akhtar', datetime.date(2022, 12, 11))]

In [28]:
cur.execute("select id,first_name from classbtech")

In [29]:
cur.fetchall()

[(56, 'shenak'),
 (57, 'shenak'),
 (58, 'shenak'),
 (59, 'salim'),
 (60, 'shenak'),
 (56, 'shenak'),
 (57, 'shenak'),
 (58, 'shenak'),
 (59, 'shenak'),
 (60, 'shenak')]

In [30]:
cur.execute("select * from classbtech where id =59")

In [31]:
cur.fetchall()

[(59, 'salim', 'akhtar', datetime.date(2022, 12, 11)),
 (59, 'shenak', 'akhtar', datetime.date(2022, 12, 11))]

In [32]:
cur.execute("update students.classbtech set first_name= 'salim' where id = 59")

In [33]:
cur.execute("select * from classbtech where id =59")
cur.fetchall()

[(59, 'salim', 'akhtar', datetime.date(2022, 12, 11)),
 (59, 'salim', 'akhtar', datetime.date(2022, 12, 11))]

In [34]:
sql.commit()

In [35]:
cur.execute("delete from students.classbtech where last_name = 'akhtar'")

In [36]:
cur.execute("select * from students.classbtech")
cur.fetchall()

[]

In [37]:
cur.execute("select min(id) from students.classbtech")

In [38]:
cur.fetchall()

[(None,)]

In [44]:
cur.execute("""insert into students.classbtech values (57,'shenak','akhtar','2022-12-11'),(58,'shenak','akhtar','2022-12-11'),
(59,'shenak','akhtar','2022-12-11'),(60,'shenak','akhtar','2022-12-11')""")

In [45]:
cur.execute("select * from students.classbtech")

In [46]:
cur.fetchall()

[(57, 'shenak', 'akhtar', datetime.date(2022, 12, 11)),
 (58, 'shenak', 'akhtar', datetime.date(2022, 12, 11)),
 (59, 'shenak', 'akhtar', datetime.date(2022, 12, 11)),
 (60, 'shenak', 'akhtar', datetime.date(2022, 12, 11)),
 (57, 'shenak', 'akhtar', datetime.date(2022, 12, 11)),
 (58, 'shenak', 'akhtar', datetime.date(2022, 12, 11)),
 (59, 'shenak', 'akhtar', datetime.date(2022, 12, 11)),
 (60, 'shenak', 'akhtar', datetime.date(2022, 12, 11))]

In [47]:
cur.execute("select count(*) from students.classbtech")
cur.fetchall()

[(8,)]

In [48]:
cur.execute("drop table students.class1")

In [49]:
cur.execute("drop table students.classbtech")

In [50]:
cur.execute("drop database student")

In [51]:
cur.execute("drop database students")

In [52]:
sql.commit()