# sql with python

In [25]:
import mysql.connector

In [26]:
sql = mysql.connector.connect(
    host= "127.0.0.1",
    user = "root",
    password = "mysql"
)

In [27]:
print(sql)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000013713EB9810>

In [28]:
print(sql.is_connected())

True

In [29]:
cur  = sql.cursor()

In [30]:
cur.execute("show databases;")

In [31]:
cur.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('student',),
 ('sys',),
 ('world',)]

In [32]:
cur.fetchall()

[]

In [33]:
cur.execute("show databases")
cur.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('student',),
 ('sys',),
 ('world',)]

In [35]:
cur.execute("create database students")

In [36]:
cur.execute("use students")

In [38]:
cur.execute("create table class1 (name varchar(20),rollno int(100),phone int(10))" )

In [42]:
cur.execute("INSERT into class1 values('ashwani',10,0123456789)")

In [43]:
cur.execute("select * from class1")

In [44]:
cur.fetchall()

[('ashwani', 10, 1111111), ('ashwani', 10, 123456789)]

In [45]:
sql.commit()

In [46]:
cur.execute("select * from class1")
for i in cur:
    print(i)

('ashwani', 10, 1111111)
('ashwani', 10, 123456789)